In [1]:
import pandas as pd

**Series creation**

In [91]:
ser = pd.Series(['Jharkhand', 'Goa', 'Manipur', 'Karnataka', 'Madhya Pradesh'],
               index = [2,1,5,3,4],
               name = 'States')
display(ser)

2         Jharkhand
1               Goa
5           Manipur
3         Karnataka
4    Madhya Pradesh
Name: States, dtype: object

In [85]:
print(ser.index)
print(ser.values)
print(set(ser))    #series object is converted to set

Int64Index([2, 1, 5, 3, 4], dtype='int64')
['Jharkhand' 'Goa' 'Manipur' 'Karnataka' 'Madhya Pradesh']
{'Goa', 'Manipur', 'Karnataka', 'Jharkhand', 'Madhya Pradesh'}

In [13]:
#Data in the series can be heterogeneous
class Rf:
    pass
s = pd.Series(['Rahool', 'Shivdarshi', 20, Rf()],
             name='Rahool\'s Info')
print(s)

0                                        Rahool
1                                    Shivdarshi
2                                            20
3    <__main__.Rf object at 0x000002804E74CAC0>
Name: Rahool's Info, dtype: object
RangeIndex(start=0, stop=4, step=1)

In [14]:
print(s.index)

RangeIndex(start=0, stop=4, step=1)

In [61]:
#only float supports NaN
s = pd.Series([1,22,31,None,44,65],
             name="Numbers")
print(s)

0     1.0
1    22.0
2    31.0
3     NaN
4    44.0
5    65.0
Name: Numbers, dtype: float64

In [62]:
s.count() #pandas ingnoring NaN values

5

**Same functions/operations of Series and NumPy Arrays**

In [72]:
import numpy as np

s = pd.Series([1,22,31,44,65],
             name="Numbers")

t = np.array([1,22,31,44,65])
print(t[2])
print(s[2])

31
31

In [73]:
print("Series object: ",s.mean())
print("NumPy Array: ",t.mean())

Series object:  32.6
NumPy Array:  32.6

In [74]:
print("Series object: ",s.median())
print("NumPy Array: ",np.median(t))

Series object:  31.0
NumPy Array:  31.0

In [75]:
#Both NumPy array and Series Object have a notion of a boolean array
l1 = s > s.median()
l2 = t > np.median(t)
print(l1)
print(l2)

0    False
1    False
2    False
3     True
4     True
Name: Numbers, dtype: bool
[False False False  True  True]

In [76]:
print(t[l1])
print(s[l2])

[44 65]
3    44
4    65
Name: Numbers, dtype: int64

**Reading values of Series Object**

In [77]:
s = pd.Series([2,5,7,4,9],
             index=['Aditya', 'Rahool', 'Sarthak', 'Rahool', 'Vivek'],
             name='Score')
s['Sarthak']

7

In [78]:
s['Rahool']  #if index entries repeat, output will be another series object

Rahool    5
Rahool    4
Name: Score, dtype: int64

In [79]:
for i in s:    #iteration is over the value of the series
    print(i)

2
5
7
4
9

In [80]:
print('Aditya' in s) #membership operator is over the indexes of the series

print(9 in set(s))

print(3 in s.values)

True
True
False

In [81]:
for i in s.iteritems():
    print(i)

('Aditya', 2)
('Rahool', 5)
('Sarthak', 7)
('Rahool', 4)
('Vivek', 9)