**Series Updation**

In [46]:
import pandas as pd
import numpy as np
ser = pd.Series(np.array([4,9,3,5,7]),
               index=['Rahool', 'Sarthak', 'Aditya', 'Satya', 'Rahool'],
               name='Score')
display(ser)

Rahool     4
Sarthak    9
Aditya     3
Satya      5
Rahool     7
Name: Score, dtype: int32

In [7]:
ser['Rahool']=11
ser

Rahool     11
Sarthak     9
Aditya      3
Satya       5
Rahool     11
Name: Score, dtype: int32

In [9]:
ser.iloc[0]=4
ser

Rahool      4
Sarthak     9
Aditya      3
Satya       5
Rahool     11
Name: Score, dtype: int32

In [14]:
ser.append(pd.Series([12,15], index=['Mohit','Ansh']))    #returns new Series object with new data appended; original Series remain intact

Rahool      4
Sarthak     9
Aditya      3
Satya       5
Rahool     11
Mohit      12
Ansh       15
dtype: int64

In [19]:
ser.set_value(12, 'Mohit')

AttributeError: 'Series' object has no attribute 'set_value'

**Series Deletion/Filtering**

In [33]:
del ser['Aditya']

In [34]:
display(ser)

Rahool     4
Sarthak    9
Satya      5
Rahool     7
Name: Score, dtype: int32

In [39]:
ser[ser >5]

Sarthak    9
Rahool     7
Name: Score, dtype: int32

In [40]:
ser

Rahool     4
Sarthak    9
Satya      5
Rahool     7
Name: Score, dtype: int32

**Series Indexing and Slicing**

In [80]:
ser

Rahool     4
Sarthak    9
Aditya     3
Satya      5
Rahool     7
Name: Score, dtype: int32

In [50]:
print(ser.index)
ser.index.is_unique

Index(['Rahool', 'Sarthak', 'Aditya', 'Satya', 'Rahool'], dtype='object')

False

In [51]:
ser[0]

4

In [52]:
ser['Rahool']

Rahool    4
Rahool    7
Name: Score, dtype: int32

In [53]:
ser.loc['Aditya']   #loc accepts list of labels, slicing and boolean arrays

3

In [60]:
ser.loc[['Aditya', 'Rahool']]  #list of labels

Aditya    3
Rahool    4
Rahool    7
Name: Score, dtype: int32

In [63]:
ser.loc['Sarthak':'Satya']  #slicing

Sarthak    9
Aditya     3
Satya      5
Name: Score, dtype: int32

In [68]:
x = ser > 5                 #boolean array #mask
print(x)
ser.loc[x]

Rahool     False
Sarthak     True
Aditya     False
Satya      False
Rahool      True
Name: Score, dtype: bool

Sarthak    9
Rahool     7
Name: Score, dtype: int32

In [76]:
print(ser.iat[0])
print(ser.iloc[0])

4
4

In [78]:
print(ser.at['Aditya'])
print(ser.loc['Aditya'])

3
3